<html><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css">
  <title>Produtos</title></head><body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="home.html"><i class="fa d-inline fa-lg fa-glass"></i>Adega</a>
      <a class="navbar-brand" href="home.html"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="itens.html">Produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contribua.html">Contribua</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="Pesquisar">
          <button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-search"></i>Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="mb-4 text-primary">Aqui os melhores produtos do mercado</h1>
          <p class="lead">A Adega trabalha com as melhores marcas do mercado internacional, sempre buscando dar o melhor atendimento aos clientes entregando as melhores bebidas do mercado&nbsp;</p>
          <div class="row text-left mt-5">
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Tintoralba Garnacha Tintorera 2015</b></h5>
                </div>
              </div>
              <p>O Tintoralba Garnacha Tintorera 2015 não passa por amadurecimento, para que o vinho tenha a melhor expressão e frescor da uva, que é proveniente de videiras antigas, plantadas no terroir de Almansa, na Espanha.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Turning Leaf Califórnia Pinot Noir</b></h5>
                </div>
              </div>
              <p>O Turning Leaf Califórnia Pinot Noir possui um estilo que pode ser degustado em qualquer estação do ano, incluindo o verão. Fácil de beber e de harmonizar, este tinto é ideal para quem está iniciando no mundo do vinho ou para quem procura exemplares descontraídos.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Pancas Tinto 2016</b></h5>
                </div>
              </div>
              <p>Elaborado com as uvas tintas Touriga Nacional, Merlot, Tinta Roriz e Syrah, esse rótulo é amadurecido em tanques de aço inox, com o objetivo de preservar as características naturais das uvas, como os aromas e sabores.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Drostdy-Hof W.O. Western Cape Cabernet Sauvignon 2016</b></h5>
                </div>
              </div>
              <p>Com médio corpo e taninos presentes, o Drostdy-Hof W.O. Western Cape Cabernet Sauvignon 2016 é produzido em Western Cape, considerada a principal área vitivinícola da África do Sul, pois cerca de 90% das vinhas e vinícolas do país estão nesse local.</p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Viña Barroca Roble D.O. Bierzo Mencía 2015</b></h5>
                </div>
              </div>
              <p>O bom corpo, os taninos presentes e as notas frutadas do Viña Barroca Roble D.O. Bierzo Mencía 2015 são algumas características encontradas nesse tinto elaborado com a Mencía. Essa variedade tinta é originária do noroeste da Espanha e se destaca em Bierzo, região que dá vida a esse rótulo. </p>
            </div>
            <div class="col-md-4 my-3">
              <div class="row mb-3">
                <div class="text-center col-2"><i class="d-block mx-auto fa fa-3x fa-glass"></i></div>
                <div class="align-self-center col-10">
                  <h5 class="text-secondary"><b>Mixtus Artis Shiraz Malbec 2017
</b></h5>
                </div>
              </div>
              <p>O nome Mixtus, siginifica "misto" e expressa a mistura de uvas em sua composção. Com um estilo fácil de beber e de harmonizar, esse rótulo é ideal para o cotidiano.

</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank"><i class="fa fa-fw fa-instagram text-white fa-3x"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 Adega - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>


</body></html>
